<%- include('./partials/head')%>



    <main>
        <%- include('./partials/nav')%>
            <div class="container">
                <h2>Write a New Blog</h2>
                <form action="/blogs/update/<%= blog._id%>" method="post">

                    <!-- title -->
                    <div class="mb-3">
                        <label for="" class="form-label">title</label>
                        <input type="text" class="form-control" name="title" id="title" aria-describedby="helpId"
                            placeholder="" value="<%= blog.title %>">
                        <small id="helpId" class="form-text text-muted">write a title</small>
                    </div>

                    <!-- small description -->
                    <div class="mb-3">
                        <label for="" class="form-label">description</label>
                        <input type="text" class="form-control" name="description" id="description"
                            aria-describedby="helpId" placeholder="" value="<%= blog.description %>">
                        <small id="helpId" class="form-text text-muted">write a small description</small>
                    </div>

                    <!-- body of the blog -->
                    <div class="mb-3">
                        <label for="" class="form-label">body</label>
                        <input type="text" class="form-control" name="body" id="body" aria-describedby="helpId"
                            placeholder="" value="<%= blog.body %>">
                        <small id="helpId" class="form-text text-muted">write the body of the blog</small>
                    </div>

                    <button class=" btn btn-primary" type="submit">UPDATE</button>
                </form>

            </div>

    </main>



    <%- include('./partials/footer')%>